@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: #202020;
  font-family: 'Press Start 2P';
  color: white;
}

canvas {
  border: 1px solid white;
  background: black;
}

header {
  padding-bottom: 16px;
}

footer {
  padding-top: 16px;
}